ATMXML/ATM.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD generated by XMLSpy v2018 rel. 2 sp1 (x64) (http://www.altova.com) -->

<!ELEMENT ATMDatabase (Klientet+, Banka+, ATM+, Xhirollogaria+, Transaksioni+, TN1*)>



<!ELEMENT Klientet (Emri, Mbiemri, Mosha)>
<!ATTLIST Klientet
	IDKlienti ID #REQUIRED
>
<!ELEMENT Emri (#PCDATA)>
<!ELEMENT Mbiemri (#PCDATA)>
<!ELEMENT Mosha (#PCDATA)>

<!ELEMENT Banka (BEmri, Vendi)>
<!ATTLIST Banka
	IDBanka ID #REQUIRED
>
<!ELEMENT BEmri (#PCDATA)>
<!ELEMENT Vendi (#PCDATA)>

<!ELEMENT ATM (DataEVendosjes, Adresa, ShumaEParaveNeATM)>
<!ATTLIST ATM
	ID_ATM ID #REQUIRED
	IDBanka IDREF #REQUIRED
>
<!ELEMENT DataEVendosjes (#PCDATA)>
<!ELEMENT Adresa (#PCDATA)>
<!ELEMENT ShumaEParaveNeATM (#PCDATA)>

<!ELEMENT Xhirollogaria (GjendjaELlogarise)>
<!ATTLIST Xhirollogaria
	ID_Xhirollogaria ID #REQUIRED
	IDKlienti IDREF #REQUIRED
>
<!ELEMENT GjendjaELlogarise (#PCDATA)>



<!ELEMENT Transaksioni (LlojiITransaksionit, Shuma, Data)>
<!ATTLIST Transaksioni
	ID_Transaksioni ID #REQUIRED
	ID_ATM IDREF #REQUIRED
>
<!ELEMENT LlojiITransaksionit (#PCDATA)>
<!ELEMENT Shuma (#PCDATA)>
<!ELEMENT Data (#PCDATA)>


<!ELEMENT TN1 (Valuta)>
<!ATTLIST TN1
	ID_Transaksioni IDREF #REQUIRED
	ID_Xhirollogaria IDREF #REQUIRED
>
<!ELEMENT Valuta (#PCDATA)>












